body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #5578bf;
    margin-bottom: 30px;
    border-top: 2px solid #000000;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin: auto;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: white;
    padding: 10px 50px;
    text-decoration: none;
}

.navbar a:hover { color: white; background-color: #4C6CAB; }

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 65%;
}

th {
    background-color: #3B5998;
    color: #FFFFFF;
}
td,
th {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
